<!-- -------- START FOOTER Minimal with LINKS & SOCIAL ICONS & COPYRIGHT ------- -->
<footer class="footer py-5">
  <div class="container">
    <div class="row">
      <div class="col-lg-8 mb-4 mx-auto text-center">
        <a href="/" class="text-secondary me-xl-5 me-3 mb-sm-0 mb-2">
          Home
        </a>
        <a href="/author" class="text-secondary me-xl-5 me-3 mb-sm-0 mb-2">
          About
        </a>
        <a href="mailto:Atul.Anand@colorado.edu" class="text-secondary me-xl-5 me-3 mb-sm-0 mb-2">
          Email
        </a>
        <a href="maintenance">
          <button type="button" class="btn btn-info bg-gradient-info mb-0 ms-3 ms-sm-0 mt-3 mt-sm-0">Get in Touch</button>
        </a>
      </div>
    </div>



    <!-- Social Icons Section -->
    <div class="row">
      <div class="col-lg-8 mx-auto text-center mb-4 mt-2">
        <a href="https://www.linkedin.com/in/atanand" target="_blank" class="text-secondary me-xl-4 me-4">
          <span class="text-lg fab fa-linkedin"></span>
        </a>
        <a href="https://github.com/atulanand25" target="_blank" class="text-secondary me-xl-4 me-4">
          <span class="text-lg fab fa-github"></span>
        </a>
        <a href="https://twitter.com/atulanand6" target="_blank" class="text-secondary me-xl-4 me-4">
          <span class="text-lg fab fa-twitter"></span>
        </a>
      </div>
    </div>

    <!-- Copyright Section -->
    <div class="row">
      <div class="col-8 mx-auto text-center mt-1">
        <p class="mb-0 text-secondary">
          &copy; <script>document.write(new Date().getFullYear())</script> Atul Anand. Built with love and passion.
        </p>
      </div>
    </div>
  </div>
</footer>
<!-- -------- END FOOTER Minimal with LINKS & SOCIAL ICONS & COPYRIGHT ------- -->
