{% extends 'layouts/base-presentation.html' %}

{% block title %} Atul Anand {% endblock title %}

<!-- Specific CSS goes HERE -->
{% block stylesheets %}{% endblock stylesheets %}

{% block body_class %} blog-author bg-gray-100 {% endblock body_class %}

{% block content %}


  <section class="py-sm-1 position-relative" style="margin-top: 100px;">
    <div class="container">
      <div class="row">
        <div class="col-12 mx-auto">
          <div class="row py-lg-5 py-1">
            <div class="col-lg-3 col-md-5 position-relative my-auto">
              <img class="img border-radius-lg max-width-200 w-100 position-relative z-index-2" src="/static/assets/img/atul.jpg">
            </div>
            <div class="col-lg-7 col-md-7 z-index-2 position-relative px-md-2 px-sm-5 mt-sm-0 mt-4">
              <div class="d-flex justify-content-between align-items-center mb-2">
                <h4 class="mb-0">Atul Anand</h4>
                <div class="d-block">
                  <a href="https://twitter.com/atulanand6" target="_blank" class="btn btn-sm btn-outline-info text-nowrap mb-0">Follow</a>
                </div>
              </div>
              <p class="text-lg mb-0">
                I'm driven by the thrill of tackling complex networking challenges and harnessing automation to create seamless solutions. When I’m not optimizing networks, you’ll find me hiking trails, where persistence and adaptability meet adventure—just like in the tech world. Staying ahead of industry trends and exploring cutting-edge technologies fuels my passion for innovation, both on and off the trail.
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

  <section class="py-1">
    <div class="container">
      <div class="row">
        <div class="col-lg-6 mx-auto text-center">
          <h2 class="text-gradient text-primary mb-0">LinkedIn Recommendations</h2>
          <h3 class="mb-0">What Professionals Say About Me</h3>
          <p class="mb-0">Genuine feedback from colleagues, mentors, and clients that showcase my professional impact.</p>
        </div>
      </div>
      <div class="row mt-6">
        <!-- Recommendation 1 -->
        <div class="col-lg-6 col-md-6 mb-4">
          <div class="card shadow-lg">
            <img src="/static/assets/img/recommendations/cisco.png" alt="LinkedIn Recommendation 1" class="card-img-top rounded">
            <div class="card-body text-center">
              <h5 class="card-title ">Pulkit Saxena</h5>
              <p class="card-text font-weight-bolder">Technical Leader at Cisco Systems</p>
            </div>
          </div>
        </div>
        <!-- Recommendation 2 -->
        <div class="col-lg-6 col-md-6 mb-4">
          <div class="card shadow-lg">
            <img src="/static/assets/img/recommendations/msc.png" alt="LinkedIn Recommendation 2" class="card-img-top rounded">
            <div class="card-body text-center">
              <h5 class="card-title ">Jonathan Zegadlo</h5>
              <p class="card-text font-weight-bolder">Senior Network Engineer at MSC Industrial Supply</p>
            </div>
          </div>
        </div>

        <!-- Recommendation 3 -->
        <div class="col-lg-6 col-md-6 mb-4">
          <div class="card shadow-lg">
            <img src="/static/assets/img/recommendations/aruba.png" alt="LinkedIn Recommendation 3" class="card-img-top rounded">
            <div class="card-body text-center">
              <h5 class="card-title">Mathew George</h5>
              <p class="card-text font-weight-bolder">Senior Technical Marketing Engineer at Aruba Networks (HPE)</p>
            </div>
          </div>
        </div>

        <!-- Recommendation 4 -->
        <div class="col-lg-6 col-md-6 mb-4">
          <div class="card shadow-lg">
            <img src="/static/assets/img/recommendations/zscaler.png" alt="LinkedIn Recommendation 3" class="card-img-top rounded">
            <div class="card-body text-center">
              <h5 class="card-title">Jay Sharma</h5>
              <p class="card-text font-weight-bolder">Technical Lead at Zscaler</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

{% endblock content %}

<!-- Specific JS goes HERE --> 
{% block javascripts %}

  <script src="/static/assets/js/soft-design-system.min.js?v=1.0.1" type="text/javascript"></script>

{% endblock javascripts %}
