{% extends 'layouts/base-presentation.html' %}

{% block title %} Atul Anand {% endblock title %}

<!-- Specific CSS goes HERE -->
{% block stylesheets %}{% endblock stylesheets %}

{% block body_class %} certifications {% endblock body_class %}

{% block content %}

<!-- START CERTIFICATIONS SECTION -->
<section>
  <div class="container">
    <div class="row py-7 align-items-center">
      <div class="col-lg-6">
        <h5>Professional Certifications</h5>
        <h2>A Testament to My Expertise</h2>
        <p>These certifications reflect my commitment to continuous learning and professional growth. They serve as a validation of my skills and experience, demonstrating my ability to adapt to new challenges and stay ahead in an ever-evolving industry.</p>
      </div>
      <div class="col-lg-6">
        <div class="row">
          <div class="col-lg-6">
            <img class="w-100 my-3" src="/static/assets/img/logos/medium-logos/logo-cisco.png" alt="Cisco">
          </div>
          <div class="col-lg-6">
            <img class="w-100 my-3" src="/static/assets/img/logos/medium-logos/logo-juniper.png" alt="Juniper Certification">
          </div>
          <div class="col-lg-6">
            <img class="w-100 my-3" src="/static/assets/img/logos/medium-logos/logo-aruba.png" alt="Aruba Networks Certification">
          </div>
        </div>
      </div>
    </div>

    <div class="row pt-5">
      <div class="col-md-4">
        <div class="info">
          <div class="icon icon-shape bg-gradient-info shadow text-center mb-4">
            <i class="fas fa-network-wired"></i>
          </div>
          <h6>Cisco Certified Network Professional (CCNP-S)</h6>
          <p>Recognized by industry leaders, this certification demonstrates my expertise in managing and troubleshooting complex network infrastructures.</p>
          <a href="https://www.credly.com/badges/c831e280-18c3-4709-a152-1aaf374cd228/" target="_blank" class="text-info icon-move-right">Verify Certificate
            <i class="fas fa-arrow-right text-sm ms-1"></i>
          </a>
            <div class="col-md-5">
                <p class="text-l text-darker font-weight-bold mb-0">Issued by Cisco</p>
                <div class="stats">
                    <p class="text-sm text-secondary mb-0">Certification Authority</p>
                </div>
            </div>
        </div>
      </div>

      <div class="col-md-4">
        <div class="info">
          <div class="icon icon-shape bg-gradient-warning shadow text-center mb-4">
            <i class="fas fa-tools"></i>
          </div>
          <h6>Cisco Certified DevNet Associate (CCDevA)</h6>
          <p>This certification highlights my skills in automation, CI/CD, and scalable infrastructure for efficient development and operations.</p>
          <a href="https://www.credly.com/badges/54743c78-7950-4ccc-9621-aacfe484f54a/" target="_blank" class="text-warning icon-move-right">Verify Certificate
            <i class="fas fa-arrow-right text-sm ms-1"></i>
          </a>
            <div class="col-md-5">
                <p class="text-l text-darker font-weight-bold mb-0">Issued by Cisco</p>
                <div class="stats">
                    <p class="text-sm text-secondary mb-0">Certification Authority</p>
                </div>
            </div>
        </div>
      </div>

      <div class="col-md-4">
        <div class="info">
          <div class="icon icon-shape bg-gradient-success shadow text-center mb-4">
            <i class="fas fa-shield-alt"></i>
          </div>
          <h6>Cisco Certified Network Associate (CCNA)</h6>
          <p>This certification confirms my expertise and strong foundation in networking fundamentals and enterprise infrastructure.</p>
          <a href="https://www.credly.com/badges/de3ff984-2916-4305-a6a9-d30c9a16d598/" target="_blank" class="text-success icon-move-right">Verify Certificate
            <i class="fas fa-arrow-right text-sm ms-1"></i>
          </a>
            <div class="col-md-5">
                <p class="text-l text-darker font-weight-bold mb-0">Issued by Cisco</p>
                <div class="stats">
                    <p class="text-sm text-secondary mb-0">Certification Authority</p>
                </div>
            </div>
        </div>
      </div>
    </div>

    <div class="row pt-5">
      <div class="col-md-4">
        <div class="info">
          <div class="icon icon-shape bg-gradient-info shadow text-center mb-4">
            <i class="fas fa-lock"></i>
          </div>
          <h6>Cisco Certified Specialist - Security Core (CCS-Score)</h6>
          <p>This certification validates my expertise in Cisco security technologies, focusing on network security, threat defense, and secure network design.</p>
          <a href="https://www.credly.com/badges/9c0b9751-5626-4ffb-afe9-04f5c9ae1b74" target="_blank" class="text-info icon-move-right">Verify Certificate
            <i class="fas fa-arrow-right text-sm ms-1"></i>
          </a>
          <div class="col-md-5">
            <p class="text-l text-darker font-weight-bold mb-0">Issued by Cisco</p>
            <div class="stats">
              <p class="text-sm text-secondary mb-0">Certification Authority</p>
            </div>
          </div>
        </div>
      </div>

      <div class="col-md-4">
        <div class="info">
          <div class="icon icon-shape bg-gradient-warning shadow text-center mb-4">
            <i class="fas fa-user-shield"></i>
          </div>
          <h6>Cisco Certified Specialist - Security Identity Management Implementation (CCS-SIMI)</h6>
          <p>This certification demonstrates my proficiency in implementing and managing Cisco Identity Services Engine (ISE) for secure access control and authentication.</p>
          <a href="https://www.credly.com/badges/31abbe19-1630-47c5-a7f5-8d0f9dbcf744" target="_blank" class="text-warning icon-move-right">Verify Certificate
            <i class="fas fa-arrow-right text-sm ms-1"></i>
          </a>
          <div class="col-md-5">
            <p class="text-l text-darker font-weight-bold mb-0">Issued by Cisco</p>
            <div class="stats">
              <p class="text-sm text-secondary mb-0">Certification Authority</p>
            </div>
          </div>
        </div>
      </div>

      <div class="col-md-4">
        <div class="info">
          <div class="icon icon-shape bg-gradient-success shadow text-center mb-4">
            <i class="fas fa-shield-virus"></i>
          </div>
          <h6>Securing Cisco Networks with Sourcefire FireAMP Endpoints (SSFAMP)</h6>
          <p>This certification showcases my skills in deploying, configuring, and managing Cisco FireAMP endpoints to protect networks against advanced threats.</p>
          <a href="https://cp.certmetrics.com/cisco/en/public/transcript/3ef05cb36bf1471081ccf2f19671fd20" target="_blank" class="text-success icon-move-right">Verify Certificate
            <i class="fas fa-arrow-right text-sm ms-1"></i>
          </a>
          <div class="col-md-5">
            <p class="text-l text-darker font-weight-bold mb-0">Issued by Cisco</p>
            <div class="stats">
              <p class="text-sm text-secondary mb-0">Certification Authority</p>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="row pt-5">
      <div class="col-md-4">
        <div class="info">
          <div class="icon icon-shape bg-gradient-info shadow text-center mb-4">
            <i class="fas fa-network-wired"></i>
          </div>
          <h6>Juniper Networks Certified Associate (JNCIA-Junos)</h6>
          <p>This certification validates my knowledge in Junos OS and networking fundamentals, enabling me to configure and manage Juniper devices effectively.</p>
          <a href="https://www.credly.com/badges/e1a1969b-5774-41a0-82d8-7310bbef08d8" target="_blank" class="text-info icon-move-right">Verify Certificate
            <i class="fas fa-arrow-right text-sm ms-1"></i>
          </a>
          <div class="col-md-5">
            <p class="text-l text-darker font-weight-bold mb-0">Issued by Juniper Networks</p>
            <div class="stats">
              <p class="text-sm text-secondary mb-0">Certification Authority</p>
            </div>
          </div>
        </div>
      </div>

      <div class="col-md-4">
        <div class="info">
          <div class="icon icon-shape bg-gradient-warning shadow text-center mb-4">
            <i class="fas fa-shield-alt"></i>
          </div>
          <h6>Juniper Networks Certified Associate (JNCIA-Security)</h6>
          <p>This certification demonstrates my ability to secure network infrastructures and implement security solutions using Juniper Networks technology.</p>
          <a href="https://www.credly.com/badges/8e145909-0c1d-4989-935d-3273b8559d05" target="_blank" class="text-warning icon-move-right">Verify Certificate
            <i class="fas fa-arrow-right text-sm ms-1"></i>
          </a>
          <div class="col-md-5">
            <p class="text-l text-darker font-weight-bold mb-0">Issued by Juniper Networks</p>
            <div class="stats">
              <p class="text-sm text-secondary mb-0">Certification Authority</p>
            </div>
          </div>
        </div>
      </div>

        <div class="col-md-4">
          <div class="info">
            <div class="icon icon-shape bg-gradient-success shadow text-center mb-4">
              <i class="fas fa-lock"></i>
            </div>
            <h6>Aruba Certified ClearPass Associate (ACCA)</h6>
            <p>This certification demonstrates my expertise in implementing, managing, and troubleshooting ClearPass solutions for secure network access control.</p>
            <a href="https://www.credly.com/badges/34344044-cd15-49ca-8582-f1b15e1c0b67" target="_blank" class="text-success icon-move-right">Verify Certificate
              <i class="fas fa-arrow-right text-sm ms-1"></i>
            </a>
            <div class="col-md-5">
              <p class="text-l text-darker font-weight-bold mb-0">Issued by HPE (Aruba Networks)</p>
              <div class="stats">
                <p class="text-sm text-secondary mb-0">Certification Authority</p>
              </div>
            </div>
          </div>
        </div>
      </div>
  </div>
</section>
<!-- END CERTIFICATIONS SECTION -->




{% endblock content %}