{% extends 'layouts/base-presentation.html' %}

{% block title %} Atul Anand {% endblock title %}

<!-- Specific CSS goes HERE -->
{% block stylesheets %}{% endblock stylesheets %}

{% block body_class %} connect with me {% endblock body_class %}

{% block content %}

<section class="py-10">
  <div class="container">
    <div class="row justify-space-between text-center py-2">
      <div class="col-12 mx-auto">

        <!-- LinkedIn Button -->
        <a href="https://www.linkedin.com/in/atanand" target="_blank">
          <button type="button" class="btn-icon btn btn-linkedin">
            <span class="btn-inner--icon mr-1"><i class="fab fa-linkedin"></i></span>
            <span class="btn-inner--text">LinkedIn</span>
          </button>
        </a>

        <!-- Twitter Button -->
        <a href="https://twitter.com/atulanand6" target="_blank">
          <button type="button" class="btn-icon btn btn-twitter">
            <span class="btn-inner--icon mr-1"><i class="fab fa-twitter"></i></span>
            <span class="btn-inner--text">Twitter</span>
          </button>
        </a>

        <!-- GitHub Button -->
        <a href="https://github.com/atulanand25" target="_blank">
          <button type="button" class="btn-github btn-icon btn">
            <span class="btn-inner--icon mr-1"><i class="fab fa-github"></i></span>
            <span class="btn-inner--text">Github</span>
          </button>
        </a>

      </div>
    </div>
  </div>
</section>



{% endblock content %}

<!-- Specific JS goes HERE --> 
{% block javascripts %}

{% include "includes/scripts.html" %}

  <script src="/static/assets/js/soft-design-system.min.js?v=1.0.1" type="text/javascript"></script>

{% endblock javascripts %}
